
<section class="pagination">
    <a href="?page=1" class="<%= currentPage === 1 ? 'active' : ''%>">1</a>

    <% if(hasPreviousPage && previousPage > 1) { %>
        <a href="?page=<%= previousPage %>"><%= previousPage %></a>
    <% } %>

    <% if(currentPage > 1 && currentPage < lastPage) { %>
        <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% } %>
    <% if(hasNextPage && nextPage < lastPage) { %>
        <a href="?page=<%= nextPage %>"><%= nextPage %></a>
    <% } %>

    <a href="?page=<%= lastPage %>" class="<%= currentPage === lastPage ? 'active' : ''%>"><%= lastPage %></a>
</section>